<script setup lang="ts">
  const handleCancel = () => { } const handleTempSave = () => { } const
  handleSubmit = () => { }
</script>

<template>
  <n-layout>
    <n-card title="基础信息">
      <n-form
        ref="basicFormRef"
        :model="formData"
        label-placement="top"
        :rules="rules"
      >
        <n-grid :cols="24" :x-gap="18">
          <n-gi :span="8">
            <n-form-item label="账号" path="account">
              <n-input
                v-model:value="formData.account"
                placeholder="请输入账号"
              />
            </n-form-item>
            <n-form-item label="用户名" path="name">
              <n-input
                v-model:value="formData.name"
                placeholder="请输入用户名"
              />
            </n-form-item>
            <n-form-item label="手机号" path="phoneNumber">
              <n-input
                v-model:value="formData.phoneNumber"
                placeholder="请输入手机号"
              />
            </n-form-item>
            <n-form-item label="身份证号码" path="certification">
              <n-input
                v-model:value="formData.certification"
                placeholder="请输入身份证号码"
              />
            </n-form-item>
            <n-form-item label="身份证照片" path="IDPhone">
              <IdentificationUpload />
            </n-form-item>
          </n-gi>
          <n-gi :span="8">
            <n-form-item label="姓名" path="name">
              <n-input v-model:value="formData.name" placeholder="请输入姓名" />
            </n-form-item>
            <n-form-item label="性别" path="sex">
              <n-radio-group
                v-model:value="formData.sex"
                name="radioButtonGroup"
              >
                <n-radio-button value="male" label="男" />
                <n-radio-button value="female" label="女" />
              </n-radio-group>
            </n-form-item>
            <n-form-item label="验证码" path="verificationCode">
              <n-input
                v-model:value="formData.verifacationCode"
                placeholder="请输入验证码"
              />
            </n-form-item>
            <n-form-item label="邮箱" path="email">
              <n-input v-model:value="form.email" placeholder="请输入邮箱" />
            </n-form-item>
            <n-form-item label="账号状态" path="accountStatus">
              <n-input
                v-model:value="form.accountStatus"
                placeholder="请选择账号状态"
              />
            </n-form-item>
          </n-gi>
          <n-gi :span="8">
            <n-form-item label="头像" path="avatar">
              <div class="form-basic-avatar">
                <n-upload
                  type="avatar"
                  action=""
                  list-type="image-card"
                  @preview="handlePreview"
                />
              </div>
            </n-form-item>
          </n-gi>
        </n-grid>
      </n-form>
    </n-card>
    <div
      class="flex absolute w-full h-80px bottom-0 justify-center items-center"
    >
      <n-space>
        <n-button size="small" quaternary @click="handleCancel">取消</n-button>
        <n-button
          size="small"
          quaternary
          @click="handleTempSave"
        >暂存</n-button>
        <n-button
          size="small"
          type="primary"
          @click="handleSubmit"
        >提交</n-button>
      </n-space>
    </div>
  </n-layout>
</template>

<style scoped>

</style>